{% extends 'base.html' %}
{% block header %}
    <title>Admin Courses</title>
{% endblock %}

{% block body %}

    <h1>Admin Courses</h1>

    <table style="border: 1px solid black; ">
        <tr>
            <th>Courses info |</th>
            <th> Edit |</th>
        </tr>
        {% for deptitem in departments %}
            <tr>
                <td>{{ deptitem.DepartmentName.title() }}</td>
                <td><a href="/admin/dashboard/edit-department/{{ deptitem.DepartmentID }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
    <br>

    <form action="#" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="DepartmentName" placeholder="Department Name"><br>
        <input type="submit" value="Add">
    </form>
{% endblock %}
