{% extends 'base.html' %}
{% block header %}
    <title>Admin Dashboard</title>
{% endblock %}

{% block body %}
    <h1>Admin Dashboard</h1>
    <a href="/admin/dashboard/departments">Department__Page</a><br><br><br>
    <a href="/admin/dashboard/students">Student__Page</a><br><br><br>
    <a href="/admin/dashboard/courses">Courses__Page</a><br><br><br>
    <a href="/admin/dashboard/instructors">Instructors__Page</a><br><br><br>
    <a href="/admin/dashboard/studentcourses">StudentCourses__Page</a><br><br><br>
{% endblock %}

